@media (min-width: 768px){
	.bibilo-header .bibilo-btn-group .input-group-btn{
	    width: 15%;
	}
	.footer .form-inline .form-group {
	    display: inline-block;
	    margin-bottom: 0;
	    vertical-align: middle;
	    width: 50%;
	}
	.navbar-nav > li > a {
	    padding-top: 5px;
	    padding-bottom: 5px;
	}
}