<template name="footer">
	<!--FOOTER 2-->
    <footer class="footer2">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-2">
                        <a href=""><img src="img/logo-lalasell.png" width="80%"></a>
                    </div>
                    <div class="col-xs-12 col-sm-10">
                        <ul class="list-inline">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Customer Service</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Site Maps</a></li>
                            <li><a href="#">Search Terms</a></li>
                            <li><a href="#">Advance Search</a></li>
                            <li><a href="#">Order and Returns</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="container">
                <div class="row row2">
                    <nav class="col-md-3 col-sm-6 col-xs-12">
                        <a href=""><img src="img/portmone_footer_banner.png" width="80%"></a>
                    </nav>
                    <nav class="col-md-3 col-sm-6 col-xs-12">
                        <h3><span>Categories</span></h3>
                        <ul>
                            <li>
                                <a href="#">Jackets</a>
                            </li>
                            <li>
                                <a href="#">Coats</a>
                            </li>
                            <li>
                                <a href="#">Accessories</a>
                            </li>
                            <li>
                                <a href="#">Tops</a>
                            </li>
                            <li>
                                <a href="#">Knitwear</a>
                            </li>
                        </ul>
                    </nav>
                    <nav class="col-md-3 col-sm-6 col-xs-12">
                        <h3><span>Useful links</span></h3>
                        <ul>
                            <li>
                                <a href="#">Your Account</a>
                            </li>
                            <li>
                                <a href="#">Your Orders</a>
                            </li>
                            <li>
                                <a href="#">Shipping Rates & Policies</a>
                            </li>
                            <li>
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="">Shop with Points</a>
                            </li>
                        </ul>
                    </nav>
                    <nav class="col-md-3 col-sm-6 col-xs-12">
                        <h3> <span>Contact info</span></h3>
                        <ul class="con-contacts">
                            <li>
                                <div class="icon-contact"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                                <span>11222 Dilling St. North Hollywood, CA</span>
                            </li>
                            <li>
                                <div class="icon-contact"><i class="fa fa-phone" aria-hidden="true"></i></div>
                                <span>(+855) 087-336-067</span>
                            </li>
                            <li>
                                <div class="icon-contact"><i class="fa fa-envelope-o mail" aria-hidden="true"></i></div>
                                <span>info.lalasell@gmail.com</span>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!--/.row-->
            </div>
            <div class="container">
                <hr class="top" />
                <div class="row row3">
                    <nav class="col-sm-12 col-xs-12">
                        <div class="subscribe">
                            <input class="flipkart-navbar-input col-sm-10 col-xs-9" type="" placeholder="Your Email" name="">
                            <button class="flipkart-navbar-button col-sm-2 col-xs-3">Subscribe</button>
                            <div class="search-tip">We’ll never share your email address with a third-party.</div>
                        </div>
                        <div class="input-group input-group-md">
                        	<ul class="social">
                        		<li class="text-fu">Follow Us:</li>
	                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
	                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
	                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
	                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
	                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
	                        </ul>
                        </div>
                    </nav>
                </div>
                <hr class="bottom" />
            </div>
            <div class="container">
                <div class="row row4">
                    <nav class="col-sm-2 col-xs-12">
                        <h3><span>Question?</span></h3>
                        <ul>
                            <li>
                                <a href="#">Terms</a>
                            </li>
                            <li>
                                <a href="#">Condition</a>
                            </li>
                            <li>
                                <a href="#">About Us</a>
                            </li>
                            <li>
                                <a href="#">Example</a>
                            </li>
                        </ul>
                    </nav>
                    <nav class="col-sm-2 col-xs-12">
                        <h3><span>Shopping</span></h3>
                        <ul>
                            <li>
                                <a href="#">Delivery</a>
                            </li>
                            <li>
                                <a href="#">Track your order</a>
                            </li>
                            <li>
                                <a href="#">Buy gift cards</a>
                            </li>
                            <li>
                                <a href="#">Returns</a>
                            </li>
                        </ul>
                    </nav>
                    <nav class="col-sm-2 col-xs-12">
                        <h3><span>About Us</span></h3>
                        <ul>
                            <li>
                                <a href="#">Responsive</a>
                            </li>
                            <li>
                                <a href="#">Magento themes</a>
                            </li>
                            <li>
                                <a href="#">E-commerce</a>
                            </li>
                            <li>
                                <a href="#">The company</a>
                            </li>
                        </ul>
                    </nav>
                    <nav class="col-md-6 col-sm-6 col-xs-12">
                        <p>
                            <span>HOT SEARCHED KEYWORDS:</span>
                            <a href="#" title="Outerwear">Outerwear</a>
                            <a href="#" title="Jackets">Jackets</a>
                            <a href="#" title="Blazers">Blazers</a>
                            <a href="#" title="Dresses">Dresses</a>
                            <a href="#" title="Jumpsuits">Jumpsuits</a>
                            <a href="#" title="Tops">Tops</a>
                        </p>
                        <p>
                            <span>WOMEN:</span>
                            <a href="#" title="Blazers">Blazers</a>
                            <a href="#" title="Dresses">Dresses</a>
                            <a href="#" title="Jumpsuits">Jumpsuits</a>
                            <a href="#" title="Tops">Tops</a>
                            <a href="#" title="Trousers">Trousers</a>
                            <a href="#" title="Jeans">Jeans</a>
                            <a href="#" title="Knitwear">Knitwear</a>
                            <a href="#" title="T-Shirts">T-Shirts</a>
                        </p>
                        <p>
                            <span>MEN:</span>
                            <a href="#" title="Shirts">Shirts</a>
                            <a href="#" title="Suits">Suits</a>
                            <a href="#" title="Trousers">Trousers</a>
                            <a href="#" title="Outerwear">Outerwear</a>
                            <a href="#" title="Jackets">Jackets</a>
                            <a href="#" title="Blazers">Blazers</a>
                            <a href="#" title="Tops">Tops</a>
                            <a href="#" title="Jeans">Jeans</a>
                            <a href="#" title="Skirts">Skirts</a>
                        </p>
                        <p>
                            <span>ACCESSORIES:</span>
                            <a href="#" title="Bags">Bags</a>
                            <a href="#" title="Neckwear">Neckwear</a>
                            <a href="#" title="Watches">Watches</a>
                            <a href="#" title="Jewellery">Jewellery</a>
                            <a href="#" title="Eyewear">Eyewear</a>
                            <a href="#" title="Buttons">Buttons</a>
                        </p>
                    </nav>
                </div>
                <!--/.row-->
            </div>
            <!--/.container-->
        </div>
        <!--/.footer-->

        <div class="footer-bottom">
            <div class="container">
                <div class="pull-left"> Copyright © Footer E-commerce Plugin 2014. All right reserved.</div>
                <div class="pull-right payment-methods">
                    <ul>
                        <li><img alt="" src="/img/payment-visa.png"></li>
                        <li><img alt="" src="/img/payment-master.png"></li>
                        <li><img alt="" src="/img/payment-paypal.png"></li>
                        <li><img alt="" src="/img/payment-skrill.png"></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/.footer-bottom-->
    </footer><!-- End footer -->
</template>