
#tab-manage-content{
  padding: 0 15px;
  box-shadow: 0px 2px 3px #ccc;
  margin-bottom: 20px;
  background: #fff;
}
#tab-manage-content .cats-menu{
  text-align: center;
  padding: 20px 15px
}
#tab-manage-content .cats-menu:hover {
    text-align: center;
    padding: 20px 15px;
    background: #F7F8FA;
}
#tab-manage-content .cats-menu a{
  text-decoration: none;
  color: #555;
  font-size: 20px;
}

.navbar-form input,
.form-inline input {
    width: auto;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.affix {
    top: 0;
    width: 100%;
}
.affix-search-blog{
    display: none;
}
.affix + .container-fluid {
    /*padding-top: 70px;*/
}
.affix {
    padding: 0 15px;
    box-shadow: 0px 2px 3px #ccc;
    margin-bottom: 20px;
    background: #fff;
    z-index: 11;
}
.affix .col-sm-4{
    width: 15%;
}
.affix .affix-search-blog {
    display: block;
    min-width: 54%;
    float: right;
    margin: 15px 0px 15px 5px;
}

/*Manage products*/
.col-mg-product{
  background: /*rgba(19,19,4,.04)*/ #fff;
  min-height: 450px;
  overflow: hidden;
  padding: 15px;
  margin-bottom: 20px;
}
.col-1-bottom {
    position: absolute;
    left: 30px;
    bottom: 25px;
    right: 30px;
}
.col-1-top h3{
  margin-top: 0px;
}
.col-1-top a img{
  padding: 5px;
}
.col-1-top h1{
  margin-top: 45px;
}
.col-1-top .btn-sign {
    border-radius: 2px;
    box-shadow: none !important;
    margin: 65px 0px;
    border-radius: 5px;
    background: red;
    color: #fff;
    font-weight: bold;
    padding: 1px 12px;
}

/*finding suplier by location*/
#section2 .well{
    margin: 0 15px 20px;
    overflow: hidden;
    background: #fff;
    border-radius: 0px;
}

.the-header-top {
    background: #232f3e;
    color: #fff;
    border-bottom: 1px solid #000;
    padding: 5px 0px 0px;
}
.the-header-top span{
    float: left;
}
.the-header-top ul.menu-cat{
    float: right;
    margin-right: 15px;
}



/*product list categories*/
#block-banner, #block-product-list, #section2{
  margin-bottom: 20px;
}
.section-items{
    background: #fff;
    overflow: hidden;
    border:1px solid #ccc;
}
.title-items{
  position: relative;
  padding: 20px;
}
.main-title{
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 22px;
    color: #333;
}
.sub-title{
    font-size: 12px;
    color: #666;
}
.products-list-cate{
    overflow: hidden;
}
.products-list-cate .items-ls1,
.products-list-cate .items-ls2,
.products-list-cate .items-ls3,
.products-list-cate .items-ls4 {
    width: 50%;
    float: left;
    padding: 25px 0 0 20px;
    position: relative;
    overflow: hidden;
    height: 117px;
}
.seco-block-cat .products-list-cate .items-ls1{
    width: 50%;
    height: 234px;
}
.products-list-cate .items-ls1{
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.products-list-cate .items-ls2{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.products-list-cate .items-ls3{
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.products-list-cate .items-ls4{
    border-bottom: 1px solid #ccc;
}
.content-items{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.img-items {
    position: absolute;
    bottom: -12px;
    right: -15px;
    width: 100px;
    height: 100px;
}
.info-items{
    position: relative;
    padding-right: 60px;
    padding-bottom: 30px;
}
.section-footer{
  position: relative;
  padding: 20px;
}



.m-ws-industry-item {
    height: 60px;
    border-top: 1px solid #E6E7EB;
    font-size: 14px;
    color: #000;
    line-height: 60px;
}
.m-ws-industry-item a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 8px;
}
.util-clearfix {
    zoom: 1;
}
.m-ws-industry-item-img {
    float: left;
    margin-right: 18px;
    width: 44px;
    height: 44px;
    position: relative;
    top: 8px;
}
.m-ws-industry-item-name {
    color: #666;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.m-ws-industry-item:hover .m-ws-industry-item-img {
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    top: 8px;
}
.m-ws-industry-item-img {
    float: left;
    margin-right: 18px;
    width: 44px;
    height: 44px;
    position: relative;
    top: 8px;
}
.m-ws-industry-item:hover a {
    text-decoration: none;
    color: #fff;
}
.m-ws-industry-item:hover a  .m-ws-industry-item-name {
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#section2 .well .row .col-sm-2{
    margin-bottom: 10px;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: none;
    right: 0px;
    left: auto;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-image: none;
    left: 0px;
    right: auto;
}

/*media screen responsive style sheet*/
@media (max-width: 640px){

}

@media (max-width: 767px){
    #first-slider{
        padding: 0px !important;
    } 
    #tab-manage-content{
        padding: 0px;
    }
    #tab-manage-content .cats-menu {
        text-align: center;
        padding: 20px 0px;
    }
    #tab-manage-content .cats-menu a {
        text-decoration: none;
        color: #555;
        font-size: 11px;
    }
    .affix .col-sm-4 {
        width: 15%;
        display: none;
    }
    .affix .affix-search-blog {
        display: block;
        min-width: 100%;
        float: right;
        margin: 10px 0px 10px 0px;
    }

    /*style sheet for product categories*/
    #section1{
        padding: 0px;
    }
    .col-mg-product {
        background: /*rgba(19,19,4,.04)*/ #fff;
        min-height: 415px;
        overflow: hidden;
        padding: 15px;
        margin-bottom: 20px;
    }
    .m-ws-industry-item {
        height: 50px;
        border-top: 1px solid #E6E7EB;
        font-size: 14px;
        color: #000;
        line-height: 50px;
    }
    .m-ws-industry-item-img {
        float: left;
        margin-right: 18px;
        width: 35px;
        height: 35px;
        position: relative;
        top: 8px;
    }

    /*block categories product list*/
    #block-banner, #block-product-list, #section2 {
        margin-bottom: 0px;
        padding: 0px;
    }
    .section-items {
        background: #fff;
        overflow: hidden;
        border: 1px solid #ccc;
        margin-bottom: 15px;
    }
    .products-list-cate .items-ls1, .products-list-cate .items-ls2, .products-list-cate .items-ls3, .products-list-cate .items-ls4 {
        width: 50%;
        float: left;
        padding: 15px 0 0 10px;
        position: relative;
        overflow: hidden;
    }
    .img-items {
        position: absolute;
        bottom: -12px;
        right: -15px;
        width: 75px;
        height: 75px;
    }
    .info-items {
        position: relative;
        padding-right: 30px;
        padding-bottom: 45px;
    }
    a {
        color: #486d97;
        font-size: 12px;
    }
        

    /*block categories slider*/
    #block-cat-slider{
        padding: 0px
    }

    /*finded Supplier by Location*/
    #section2{
        padding: 0px;
    }
    #section2 hr {
        margin-top: 0px;
        margin-bottom: 10px;
        border: 0;
        border-top: 1px solid #eee;
    }
    .cat-location {
        height: 150px;
        overflow-y: scroll;
    }
}

@media (max-width: 991px){

}